$red: #d50000;
$orange: #ff9800;
$blue: #6fb1fc;

.card {
  height: 100px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 10px;

  .front,
  .back {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
  }

  .back {
    background-color: $blue;
    color: #fff;
  }

  .front {
    transform: rotateY(180deg);
    background-color: white;
    color: $orange;
  }

}

.card-inner {
  height: 100%;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.rotated {
  .card-inner {
    transform: rotateY(180deg);
  }
}
